@media screen and (min-width: 320px) {
  /*head*/
  .header {
    padding-top: 0.5rem;
    /*sidebar*/
  }
  .header .header__logo .logo__img {
    width: 25px;
    margin-left: 10px;
  }
  .header h1 {
    font-size: 1.5em;
  }
  .header .header__chat {
    margin-top: 0.5rem;
    margin-left: 10px;
  }
  .sidebar > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .sidebar > * > *:first-child {
    margin-left: 0.2rem;
  }
  .sidebar .menu__notifications {
    font-size: 0.6rem;
  }
  /*mainbar*/
  .mainbar .article__item .item__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainbar .article__item .item__text {
    margin-top: 0.5rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mainbar .article__item .item__time {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mainbar .article__item .item__images, .mainbar .article__item .item__comment {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .mainbar .article {
    padding-bottom: 0;
  }
  .mainbar .article__wrapper {
    border-radius: 0px;
  }
  /*buttons*/
  .btn.-small {
    width: 12px;
    height: 12px;
  }
  .btn.-medium {
    width: 18px;
    height: 18px;
  }
  .btn.-big {
    width: 30px;
    height: 30px;
  }
  .btn .btn__dots {
    margin-top: -5px;
    font-size: 1.2rem;
  }
  .btn img.icon.files {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  /*header*/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 115px;
    padding-top: 30px;
  }
  .header .header__logo {
    min-height: 60px;
  }
  .header .header__logo .logo__img {
    width: 40px;
    margin-left: 30px;
  }
  .header h1 {
    font-size: 2em;
  }
  .header .header__chat {
    margin-left: auto;
  }
  .header .header__navigation {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  /*sidebar*/
  .sidebar {
    -ms-flex-preferred-size: 19%;
        flex-basis: 19%;
  }
  .sidebar > * > *:first-child {
    margin-left: 1.0rem;
  }
  .sidebar .sidebar__search .search__icon {
    margin-right: 1.4rem;
  }
  .sidebar .menu__notifications {
    font-size: 1rem;
  }
  .mainbar {
    -ms-flex-preferred-size: 81%;
        flex-basis: 81%;
  }
  .mainbar .item__text {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .mainbar .article {
    padding-bottom: 100px;
  }
  .mainbar .article__wrapper {
    border-radius: 8px;
  }
  .mainbar .article__wrapper {
    -ms-flex-preferred-size: 82%;
        flex-basis: 82%;
  }
  .mainbar .article__item .item__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainbar .article__item .item__text {
    margin-top: 0rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mainbar .article__item .item__time {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mainbar .article__item .item__images, .mainbar .article__item .item__comment {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  /*buttons*/
  .btn.-small {
    width: 20px;
    height: 20px;
  }
  .btn.-medium {
    width: 30px;
    height: 30px;
  }
  .btn.-big {
    width: 40px;
    height: 40px;
  }
  .btn.-dotted .btn__dots {
    margin-top: -10px;
    font-size: 1.9rem;
  }
  .btn img.icon.files {
    margin: 30% 30%;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar > * > *:first-child {
    margin-left: 2.4rem;
  }
  .mainbar .article__wrapper {
    -ms-flex-preferred-size: 62%;
        flex-basis: 62%;
  }
  .mainbar .article {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 4000px) {
  .article__item .item__text {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
/*# sourceMappingURL=media.css.map */