@media screen and (min-width: 320px) {
  /*head*/
  .header {
    padding-top: 0.5rem;
    .header__logo .logo__img {
      width: 25px;
      margin-left: 10px;
    }
    h1 {
      //logo text
      font-size: 1.5em;
    }
    .header__chat {
      margin-top: 0.5rem;
      margin-left: 10px;
    }
    /*sidebar*/
  }
  .sidebar {
    & > * {
      display: flex;
      flex-basis: 40%;
    }
    & > * > *:first-child {
      margin-left: 0.2rem;
    }
    .menu__notifications {
      font-size: 0.6rem;
    }
  }
  /*mainbar*/
  .mainbar {
    .article__item {
      .item__logo {
        order: 1;
      }
      .item__text {
        margin-top: 0.5rem;
        order: 3;
      }
      .item__time {
        order: 2;
      }
      .item__images, .item__comment {
        order: 4;
      }
    }
    .article {
      padding-bottom: 0;
    }
    .article__wrapper {
      border-radius: 0px;
    }
  }
  /*buttons*/
  .btn {
    //sizes
    &.-small {
      width: 12px;
      height: 12px;
    }

    &.-medium {
      width: 18px;
      height: 18px;
    }
    &.-big {
      width: 30px;
      height: 30px;
    }

    .btn__dots {
      margin-top: -5px;
      font-size: 1.2rem;
    }
    img.icon.files {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  /*header*/
  .header {
    display: flex;
    flex-wrap: wrap;
    min-height: 115px;
    padding-top: 30px;
    .header__logo {
      min-height: 60px;
    }
    .header__logo .logo__img {
      width: 40px;
      margin-left: 30px;
    }
    h1 {
      //logo text
      font-size: 2em;
    }
    .header__chat {
      margin-left: auto;
    }
    .header__navigation {
      flex-basis: 100%;
    }

  }
  /*sidebar*/
  .sidebar {
    flex-basis: 19%;

    & > * > *:first-child { //all elements aligin left
      margin-left: 1.0rem;
    }

    .sidebar__search {
      .search__icon {
        margin-right: 1.4rem;
      }
    }
    .menu__notifications {
      font-size: 1rem;
    }
  }
  .mainbar {
    flex-basis: 81%;
    .item__text {
      flex-basis: 60%;
    }
    .article {
      padding-bottom: 100px;
    }
    .article__wrapper {
      border-radius: 8px;
    }
    
    .article__wrapper {
      flex-basis: 82%;
    }
    .article__item {
      .item__logo {
        order: 1;
      }
      .item__text {
        margin-top: 0rem;
        order: 2;
      }
      .item__time {
        order: 3;
      }
      .item__images, .item__comment {
        order: 4;
      }
    }
  }
  /*buttons*/
  .btn {
    //sizes
    &.-small {
      width: 20px;
      height: 20px;
    }
    &.-medium {
      width: 30px;
      height: 30px;
    }
    &.-big {
      width: 40px;
      height: 40px;
    }
    &.-dotted {
      .btn__dots {
        margin-top: -10px;
        font-size: 1.9rem;
      }
    }
    img.icon.files {
      margin: 30% 30%;
    }
  }
}
@media screen and(min-width: 1440px) {
  .sidebar {
    & > * > *:first-child { //all elements aligin left
      margin-left: 2.4rem;
    }
  }
  .mainbar {
    .article__wrapper {
      flex-basis: 62%;
    }
    .article {
      padding-bottom: 150px;
    }
  }
}
@media screen and (min-width: 4000px) {
  .article__item {
    .item__text {
      flex-basis: 90%;
    }
  }
}