$sidebarWidth: 286px;

@media screen and (min-width: 320px) {
  /*head*/
  header {
    display: flex;
    flex-wrap: wrap;
    min-width: 670px;
    padding-top: 0.5rem;
    .header__logo .logo__img {
      width: 25px;
      margin-left: 10px;
    }
    h1 {
      //logo text
      font-size: 1.5em;
    }
    .header__chat {
      margin-top: 0.5rem;
      margin-left: auto;
    }
    /*sidebar*/
  }
  .sidebar {
    min-width: 286px;
    overflow-x: hidden;
    & > * {
      display: flex;
    }
    & > * > *:first-child {
      margin-left: 0.2rem;
    }


    & > * > *:first-child { //all elements aligin left
      margin-left: 1.8rem;
    }

    .sidebar__search {
      .search__icon {
        margin-right: 1.4rem;
      }
    }
    .menu__notifications {
      font-size: 0.9rem;
      padding-right: 1px;
    }

    &.hidden {
      min-width: 80px;
      width: 80px;

      & > *:not(:first-child) {
       display: none;
      }
      & > *:first-child > *:not(:first-child) {
        display: none;
      }
    }
  }

  //main bar
  .mainbar {
    section {
      margin: 30px 10px;
      flex-basis: 770px;
      min-width: 570px;

    }
    p {
      flex-basis: 380px;
    }
    
    .section__wrapper {
      padding-bottom: 100px;
    }

    .article {
      &.article__icon::before {
        height: 40px;
        width: 40px;
        line-height: 40px;
      }
      &.icon-lightblue::before {
        line-height: 43px;
      }
    }
  }
    /*buttons*/
  .btn {
    //sizes
    &.-small {
      width: 20px;
      height: 20px;
    }
    &.-medium {
      width: 30px;
      height: 30px;
    }
    &.-dotted {
      margin-top: 4px;
      width: 24px;
      height: 24px;
      .btn__dots {
        margin-top: -7px;
        font-size: 1.4rem;
      }
    }
    img.icon.files {
      margin: 30% 30%;
    }
  }
}

@media screen and (min-width: 1100px) {
  /*header*/
  header {
    display: flex;
    flex-wrap: wrap;
    min-height: 115px;
    padding-top: 30px;
    .header__logo {
      min-height: 60px;
    }
    .header__logo .logo__img {
      width: 40px;
      margin-left: 30px;
    }
    h1 {
      //logo text
      font-size: 2em;
    }
    .header__chat {
      margin-left: auto;
    }
    .header__navigation {
      flex-basis: 100%;
    }
  }
  //main section
  .mainbar {
    section {
      p {
        flex-basis: 490px;
      }
    }
  }

  .btn {
    //sizes
    &.-dotted {
      width: 30px;
      height: 30px;
      .btn__dots {
        margin-top: -11px;
        font-size: 1.9rem;
      }
    }
  }
  
}

@media screen and(min-width: 1440px) {
  .mainbar {
    .section__wrapper {
      padding-bottom: 150px;
    }
  }
}