//theme
$mainFont: "Open Sans", sans-serif;
$mainFontColor: #131313;

$frstFontSize: 16px;
$secondFontSize: 14px;

//sidemenu
$sidemenuBackGround: #000000;

//background colors
$mainBGColor: #eeebe5;
$white: #ffffff;
$sidebar-avatar-background: #202020;
$sidebar-color: #9b9b9b;

//articles circle colors
$lightgreen: #cef9c6;
$lightblue: #e3efff;
$lightyellow: #fff8dd;

$yellow: #ffc200;
$gray: #eaeaea;

$item-comment: #f7f6f3;
