:root {
  --main-text-color: #363636;
  --additional-text-color-light: #4f4f4f;
  --additional-text-color-lightest: #b1b1b1;
  --dots-for-carousel: #737373;
  --second-background-color: #eeeeee;
}

body {
  margin: 40px 30px 0 30px;
  color: var(--main-text-color);
  font-family: 'Cabin', sans-serif;
}
header {
  background-color: var(--second-background-color);
}

/*--Navigation--*/
nav {
  padding-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .container {
  flex: 1;
}

/*hamburger*/
nav .hamburger-box {
  position: relative;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin: 12px 0 0 15%;
  
}
nav .hamburger-line {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
}
.hamburger-line::before, .hamburger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
}
.hamburger-line::before {
  top: 8px;
}
.hamburger-line::after {
  top: 16px;
  width: 80%;
  transition: width 1s;
}
.hamburger-box:hover .hamburger-line::after {
  width: 100%;
  transition: width 1s;
}

/*logo*/
nav .logo {
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
}
nav .logo span {
  text-decoration: underline;
}

/*menu*/
nav .nav-menu {
  text-align: right;
  padding-left: 0;
}
nav .nav-menu li {
  margin-right: 36px;
  list-style-type: none;
  display: inline-block;
  font-size: 0.9em;
}
nav .nav-menu li:last-child {
  margin: 0 15% 0 0;
}

/*'a' elements*/
nav a {
  text-decoration: none;
  color: var(--main-text-color);
}
/*--end of Navigarion--*/


/*--Carousel--*/
.carousel {
  display: flex;
  flex-direction: column;
}
/*text*/
.carousel .carousel-text-wrap {
  padding-top: 60px;
  background-color: var(--second-background-color);
}
.carousel .carousel-text {
  min-width: 50%;
  margin-left: 50%;
}
.carousel .carousel-text h3 {
  margin: 0;
  font-size: 0.71em;
  font-weight: 200;
  color: var(--additional-text-color-light);
}
.carousel .carousel-text span {
  display: inline-block;
  margin-top: 30px;
  font-size: 1.4em;
  font-weight: bold;
}
.carousel .carousel-text p {
  margin-top: 10px;
}
/*image*/
.carousel .slide-img img {
  width: 100%;
}
/*navigation dots*/
.carousel .carousel-nav {
  margin-top: 40px;
  text-align: center;
  flex-direction: row;
}
/*realization from here*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
.carousel .carousel-nav .container {
  position: relative;
  margin: 0;
  padding: 0 4px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.carousel .container input {
  position: absolute;
  opacity: 0;
}
/* Create a custom radio button */
.carousel .checkmark {
  display: inline-block;
  height: 4px;
  width: 4px;
  vertical-align: middle;
  background-color: var(--dots-for-carousel);
  border-radius: 50%;
  transition: all 0.5s;
}
/* When the radio button is checked.. */
.carousel .container input:checked ~ .checkmark {
  height: 8px;
  width: 8px;
  margin: 0 10px;
  transition: all 0.5s;
}
/*--end of Carousel--*/

/*--Footer--*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
}
/*text*/
footer .left-side-wrapper {
  font-weight: bold;
  font-size: 1.2em;
  width: 50%;
  text-align: right;
}
footer .left-side-wrapper .text {
  padding-right: 40px;
}
footer .right-side-wrapper {
  max-width: 380px;
  font-size: 0.71em;
  color: var(--additional-text-color-lightest);
  padding-top: 4px;
  line-height: 1.8em;
}
footer .right-side-wrapper p {
  color: var(--additional-text-color-light);
  padding-top: 10px;
}

/*button More+*/
footer .learn-more-wrapper {
  margin-left: 120px;
}
footer .learn-more {
  min-width: 82px;
  height: 20px;
  font-size: 0.9em;
  padding: 12px 24px;
  color: var(--additional-text-color-light);
  border: 1px solid var(--additional-text-color-lightest);
  cursor: pointer;
  user-select: none;
}